.my-sticky-dynamic {
  /* height or max-height is important */
  height: 410px;
  /* this will be the loading indicator */
  /* prevent scrolling behind sticky top row on focus */
}
.my-sticky-dynamic .q-table__top,
.my-sticky-dynamic .q-table__bottom,
.my-sticky-dynamic thead tr:first-child th {
  background-color: #1976D2;
}
.my-sticky-dynamic thead tr th {
  position: sticky;
  z-index: 1;
}
.my-sticky-dynamic thead tr:last-child th {
  /* height of all previous header rows */
  top: 48px;
}
.my-sticky-dynamic thead tr:first-child th {
  top: 0;
}
.my-sticky-dynamic tbody {
  /* height of all previous header rows */
  scroll-margin-top: 48px;
}
.my-sticky-dynamic .highlighted-row {
  background-color: rgba(255, 255, 0, 0.2);
  transition: background-color 0.5s ease-in-out;
}/* Highlighted row animation */
.highlighted-row {
  background-color: rgba(255, 255, 0, 0.2);
  animation: highlight-fade 2s ease-in-out;
}
/*header */
.header-fancy {
  font-family: fantasy;
  font-size: 25px;
  font-style: bold;
  padding-left: 15px;
}
/*conditional rendering styles*/
/* Smooth fade animation */
@keyframes highlight-fade {
0% {
    background-color: rgba(255, 255, 0, 0.5);
}
100% {
    background-color: rgba(255, 255, 0, 0.2);
}
}/* Highlighted row animation */
.highlighted-row {
  background-color: rgba(255, 255, 0, 0.2);
  animation: highlight-fade 2s ease-in-out;
}
/*header */
.header-fancy {
  font-family: fantasy;
  font-size: 25px;
  font-style: bold;
}
/*conditional rendering styles*/
/* Smooth fade animation */
@keyframes highlight-fade {
0% {
    background-color: rgba(255, 255, 0, 0.5);
}
100% {
    background-color: rgba(255, 255, 0, 0.2);
}
}
/* Highlighted row animation */
.highlighted-row[data-v-12b55474] {
  background-color: rgba(255, 255, 0, 0.2);
  animation: highlight-fade-12b55474 2s ease-in-out;
}

/* Smooth fade animation */
@keyframes highlight-fade-12b55474 {
0% {
    background-color: rgba(255, 255, 0, 0.5);
}
100% {
    background-color: rgba(255, 255, 0, 0.2);
}
}
